.footer {
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 15px 0 1rem 0;
    height: 50px;
}

.app.dark-theme .footer {
    background-color: #1e1e1e;
    color: #ffffff;
}
